@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.container__email {
	background-color: var(--primary-color);
	border-radius: 0px 109px 109px 0px;
	width: 510px;
	height: 980px;
}

.title__email{
	font-family: 'Ubuntu';
	color: #ffffff;
}

.credentials__email{
	font-family: 'Ubuntu';
	color: #bbbbf8;
}

.input__email{
	color: #bbbbf8;
	border: 2px solid #1B1B79;
	border-radius: 3px;
	width: 250px;
	height: 31px;
	border: 2px;
}

.input__email:focus {
	background-color:  #3131A6;
	border: 2px solid #1B1B79;
  }

  .buttons__email{
    display: flex;
}

.Recuperation__return__email,
.text-white__return__email{
    font-family: 'Ubuntu';;
    border-radius: 6px;
    transition: box-shadow 0.1s ease;
    left: 56px;
}

.Recuperation__return__email:hover{
    color: #1B1B79;
    background-color: #fff;
    box-shadow: 0px 5px 6px rgba(161, 157, 221, 0.7); 
}

.Recuperation__send__email{
    border-radius: 6px;
    font-family: 'Ubuntu';
    left: 90px;
}

.Recuperation__send__email:hover{
    background-color: #1B1B79;
    color: #fff;
}




@media  (max-width: 769px ) {
	.container__email{
		width: 768px;
		height: 656px;
		border-radius: 0px 0px 69px 69px;
		padding: 24px 12px 12px 12px;
		gap: 24px;
		padding-top: 50px;
	}

	.title__email{
		font-size: 26px;
		font-weight: 700;
		text-align: center;
	}

	.credentials__email{
		position: relative;
		font-family: 'Ubuntu';
		font-weight: 600;
		font-size: 25px;
		color: #bbbbf8;
		position: relative;
		bottom: 20px;
		right: 165px;
		padding: 0px 0px 10px 10px
	}
	
	.input__email{
		position: relative;
		color: #bbbbf8;
		border: 2px solid #1B1B79;
		border-radius: 3px;
		width: 580px;
		height: 70px;
		border: 2px;
		top: 4px;
		
	}
	
    .buttons__email{
        display: flex;
        position: relative;
        right: 70px;
        gap: 6px;
    }
    .Recuperation__return__email,
    .text-white__return__email{
        width: 160px;
        height: 76px;
        font-family: 'Ubuntu';
        font-weight: 700;
        font-size: 30px;
        border-radius: 6px;
        transition: box-shadow 0.1s ease;
        
    }
    
    .Recuperation__return__email:hover{
        color: #1B1B79;
        background-color: #fff;
        box-shadow: 0px 10px 10px rgba(161, 157, 221, 0.7); 
    }
    
    .Recuperation__send__email{
        width: 160px;
        height: 76px;
        border-radius: 6px;
        font-weight: 700;
        font-size: 30px;
        font-family: 'Ubuntu';
        left: 90px;
    }
    
    .Recuperation__send__email:hover{
        background-color: #1B1B79;
        color: #fff;
    }



}



