

.img-login__jsport{
 position: relative;
 width: 639.16px;
 height: 243px;
 top: 17px;
 left:5px;
 border-radius: 147px 0px 147px 0px;
 object-fit: cover;
}

.img-login__kappa{
	position: relative;
	width: 284px;
	height: 266px;
	bottom: 229px;
	left: 660px;
	border-radius: 0px 133px 0px 133px;
	object-fit: cover;
}

.img-login__new{
	position: relative;
	width: 333.26px;
	height: 388px;
	bottom: 217px;
	left: 4px;
	border-radius: 0px 140px 0px 140px;
	object-fit: cover;
}

.img-login__tnf{
	position: relative;
	width: 273px;
	height: 658px;
	bottom: 599px;
	left: 369px;
	border-radius: 108px 0px 124.5px 0px ;
	object-fit: cover;
}

.img-login__sg{
    position: relative;
	width: 278px;
	height:249.88px;
	bottom: 1254px;
	left: 664px;
	border-radius:  0px 120px  0Px 120px;
	object-fit: cover;
}

.img-login__vans{
    position: relative;
	width: 344px;
	height: 246px;
	bottom: 1097px;
	right:1px;
	border-radius:  0px 123px  0Px 123px;
	object-fit: cover;
}

.img-login__sm{
    position: relative;
	width: 266px;
	height: 372.29px;
	bottom:1472px;
	left: 670px;
	border-radius: 120px 0px  120px 0Px ;
	object-fit: cover;
}