

.img-login__jsport{
 position: relative;
 width: 550px;
 height: 243px;
 top: 17px;
 left:50px;
 border-radius: 147px 0px 147px 0px;
 object-fit: cover;
}

.img-login__kappa{
	position: relative;
	width: 234px;
	height: 266px;
	bottom: 229px;
	left: 620px;
	border-radius: 0px 133px 0px 133px;
	object-fit: cover;
}

.img-login__new{
	position: relative;
	width: 278px;
	height: 363px;
	bottom: 217px;
	left: 50px;
	border-radius: 0px 140px 0px 140px;
	object-fit: cover;
}

.img-login__tnf{
	position: relative;
	width: 223px;
	height: 628px;
	bottom: 576px;
	left: 359px;
	border-radius: 92px 0px 124.5px 0px ;
	object-fit: cover;
}

.img-login__sg{
    position: relative;
	width: 238px;
	height:259px;
	bottom: 1200px;
	left: 620px;
	border-radius:  0px 120px  0Px 120px;
	object-fit: cover;
}

.img-login__vans{
    position: relative;
	width: 285px;
	height: 246px;
	bottom: 1085px;
	left:50px;
	border-radius:  0px 123px  0Px 123px;
	object-fit: cover;
}

.img-login__sm{
    position: relative;
	width: 248px;
	height: 349px;
	bottom:1424px;
	left: 610px;
	border-radius: 120px 0px  120px 0Px ;
	object-fit: cover;
}


@media  (max-width: 769px ){
	.contenedor{
		flex-direction: column;
}

}
