@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.container {
	background-color: var(--primary-color);
	border-radius: 0px 109px 109px 0px;
	width: 510px;
	height: 980px;
}

.title{
	font-family: 'Ubuntu';
	color: #ffffff;
}

.credentials{
	font-family: 'Ubuntu';
	color: #bbbbf8;
}

.input{
	color: #bbbbf8;
	border: 2px solid #1B1B79;
	border-radius: 3px;
	width: 250px;
	height: 30px;
	border: 2px;
}

.input__Password{
	width: 250px;
	height: 32px;
}

.input:focus {
	background-color:  #3131A6;
	border: 2px solid #1B1B79;
  }

// .remember{
// 	appearance: none;
// 	background-color: transparent;
// 	border: 1px solid #d1d5db; /* Tailwind's border-gray-300 */
// 	width: 1rem;
// 	height: 1rem;
// }

.loginButton{
	font-family: 'Ubuntu';
	color:#3131A6 ;
}

.loginButton:hover{
	font-family: 'Ubuntu';
	color: #fff;
	background-color: #3131A6;
}

.text-white__Recordar{
	font-family: 'Ubuntu';
	color: #C5C5FF;
	
}

.text-white__Recordar:hover{
	color: #fff;
}



