.title__{
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu';
    color: #fff;
    font-weight: 300;
    font-size: 12px;
}

.credentials__Contraseña{
    margin-bottom: 20px; /* Espacio entre los inputs */

}
